<div class="main">
  <header>
    <span class="logo">Car Rental</span>
    <a class="link" routerLink="/rentals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Rent a Car</a>
    <a class="link" routerLink="/rentals/list" routerLinkActive="active">My Rentals</a>
    <a class="link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a class="link" routerLink="/statistics" routerLinkActive="active">Statistics</a>
  </header>
  <div class="content">
    <router-outlet/>
  </div>
</div>

