<form [formGroup]="searchForm" (ngSubmit)="search()">

  <mat-form-field>
    <mat-label>Car Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of types()" [value]="type">{{type}}</mat-option>
    </mat-select>
    <mat-error>You must select a car type</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Reservation date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" formControlName="startDate">
      <input matEndDate placeholder="End date" formControlName="endDate">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error>You must provide a date range</mat-error>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="searchForm.invalid">Search</button>

</form>

<div class="results">
  <mat-card class="car" *ngFor="let car of results()">
    <mat-card-title>{{ car.model }}</mat-card-title>
    <button mat-stroked-button color="primary" (click)="addRental(car)">Book Now!</button>
  </mat-card>
</div>
